/* Your CSS Code here. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  margin: 20px;
}
fieldset {
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
label,
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
input {
  font-size: 18px;
  padding: 5px;
}
select {
  font-size: 18px;
  padding: 5px;
}
button {
  font-size: 18px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
}
